<figure *ngIf="titleSpot">
    <img [src]="titleSpot.picture">
    <span class="title-spot-pic">
        <i class="fas fa-camera-retro"></i>
        {{ titleSpot.name }}
    </span>
</figure>
<header>
    <h1>Backpacking the World</h1>
    <p>All the Places I've traveled so far</p>
    <div class="icon-list">
        <span class="icon">
            <i class="fas fa-globe-americas fa-2x"></i>
            4 Continents
        </span>
        <span class="icon">
            <i class="fas fa-flag fa-2x"></i>
            10 Countries
        </span>
        <span class="icon">
            <i class="fas fa-camera-retro fa-2x"></i>
            1000 Pictures
        </span>
    </div>
</header>
<section>
    <app-destination 
        *ngFor="let destination of destinations"
        [destination]="destination"
        [routerLink]="[]" 
        [queryParams]="{ 
            destination: destination.key, 
            latlng: destination.location.latlng.toUrlValue(), 
            zoom: destination.location.zoom
        }"
        queryParamsHandling="merge">
    </app-destination>
</section>
