@import '_colors';

@padding: 10px 15px;

:host {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}

header {
    padding: @padding;
    border-bottom: rgba(0,0,0,.05) solid;
}

h1 {
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: @text-main;
    margin: 0;
}

p {
    margin: 0;
    color: @text-light;
    text-align: center;
}

section {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

figure {
    margin: 0;
    position: relative;
}

app-destination {
    margin-bottom: 15px;

    &:last-of-type{
        margin-bottom: 0;
    }
}

.icon-list {
    display: flex;
    margin-top: 10px;
    color: @text-light;
    padding: 10px 0;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.title-spot-pic {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    display: block;
    background: rgba(0,0,0,.5);
    padding: 3px 4px;
}