<ng-container *ngIf="spots$ | async as spots">
    <div class="map-container">
        <app-map 
            [location]="location$ | async"
            [spots]="spots"
            (centerChange)="onMapCenterChange($event)"
            (zoomChange)="onMapZoomChange($event)"
            (spotClick)="onMapSpotClick($event)">
        </app-map>
        <app-side-bar [isActive]="true">
            <div class="main">
                <app-destination-list
                    [titleSpot]="randomSpot$ | async"
                    [destinations]="destinations$ | async">
                </app-destination-list>
            </div>
            <div class="footer">
                <app-side-bar-footer></app-side-bar-footer>
            </div>
        </app-side-bar>
    </div>
    <ng-container *ngIf="destinationForLightBox$ | async as destination">
        <app-light-box
            [isActive]="isLightBoxActive"
            [spot]="clickedSpot"
            [destination]="destination"
            (closeClick)="onLightBoxCloseClick()">
        </app-light-box>
    </ng-container>
</ng-container>