<div
    [hidden]="hideImage"
    class="picture-container" 
    *ngIf="spot"
    #container>
    <header>
        <div>
            <h1>{{ destination.name }} ({{ position }}/{{ destination.spots.length }})</h1>
            <p class="sub-label">{{ destination.slogan }}</p>
        </div>
        <span 
            class="close" 
            (click)="onCloseClick()">
            <i class="far fa-times-circle fa-2x"></i>
        </span> 
    </header>
    <figure>
        <img [src]="spot.picture" #image>
        <a 
            class="prev" 
            (click)="onSlideClick(-1)">
            &#10094;
        </a>
        <a 
            class="next" 
            (click)="onSlideClick(1)">
            &#10095;
        </a>
        <figcaption>
            <span class="location">
                {{ spot.marker.location.toString() }}
            </span>
            {{ spot.name }}
        </figcaption>
    </figure>
</div>
